<%- include('../includes/header.ejs') %>
<%- include('../includes/navigation.ejs') %>

<form class="form" action="/auth/reset-password" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrf %>">
    <p>We will send a verification e-mail with instructions to your e-mail address.</p>
    <div class="form-group <%= validationErrors.find(error => error.param === 'email') ? 'has-error' : '' %>">
        <label for="email">E-mail:</label>
        <input class="form-control" type="text" name="email" id="email" value="<%= form.email %>">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Send instructions</button>
        <a class="btn" href="/auth/sign-in">Back to Sign In</a>
    </div>
</form>

<%- include('../includes/footer.ejs') %>