<%- include('../includes/header.ejs') %>
<%- include('../includes/navigation.ejs') %>

<form class="form" action="/auth/update-password" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrf %>">
    <input type="hidden" name="token" value="<%= form.token %>">
    <div class="form-group <%= validationErrors.find(error => error.param === 'password') ? 'has-error' : '' %>">
        <label for="password">Password:</label>
        <input class="form-control" type="password" name="password" id="password" value="<%= form.password %>">
    </div>
    <div class="form-group <%= validationErrors.find(error => error.param === 'confirmPassword') ? 'has-error' : '' %>">
        <label for="confirmPassword">Confirm Password:</label>
        <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" value="<%= form.confirmPassword %>">
    </div>
    <button type="submit" class="btn btn-default">Update Password</button>
    <% if (typeof validationErrors !== 'undefined') { %>
        <% if (validationErrors.length > 0) { %>
            <%if (validationErrors.find(error => error.param === 'token')) { %>
                <a class="btn" href="/auth/reset-password">Problems with your token? Request a new one</a>
            <% } %>
        <% } %>
    <% } %>
</form>

<%- include('../includes/footer.ejs') %>