


</head>
<body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Jobsity Chat App</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="<%= menu === 'Home' ? 'active' : ''%>"><a href="/">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="<%= menu === 'Sign Up' ? 'active' : ''%>"><a href="/auth/sign-up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li class="<%= menu === 'Sign In' ? 'active' : ''%>"><a href="/auth/sign-in"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <h1><%= title %></h1>
        <hr>
        <%- include('../includes/messages.ejs') %>


        